.Auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 4rem;
  position: relative;
}

.Auth > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.a-left {
  gap: 2rem;
}

.a-left > img {
  width: 8rem;
  height: 7rem;
}

.webname > h1 {
  font-size: 3rem;
  background-color: red;
  background-image: var(--buttonBg);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.webname > h6 {
  font-size: 0.85rem;
}

.infoForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.infoForm > div {
  display: flex;
  gap: 1rem;
  height: 2rem;
  width: 90%;
}

.infoInput {
  border: none;
  outline: none;
  background-color: var(--inputColor);
  border-radius: 8px;
  padding: 15px;
  flex: 1;
}

.infobutton {
  width: 8rem;
  height: 2rem;
  align-self: flex-end;
}

.authForm {
  background-color: var(--cardColor);
  border-radius: 1rem;
  padding: 1rem;
}

.authForm > div {
  width: 100%;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  .Auth > .a-left {
    display: none;
  }

  .authForm > div {
    flex-direction: column;
    height: auto;
  }
  .infoForm > div {
    flex-direction: column;
    height: auto;
  }
}
