:root {
  --yellow: #f5c32c;
  --purple: #6d1192;
  --black: #242d49;
  --gray: rgba(36, 45, 73, 0.65);
  --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  --hrColor: #cfcdcd;
  --cardColor: rgba(255, 255, 255, 0.64);
  --buttonBg: linear-gradient(98.63deg, #f386e5, #6d1192 100%);
  --inputColor: rgba(40, 52, 62, 0.07);
  --photo: #4cb256;
  --video: #4a4eb7;
  --location: #ef5757;
  --schedule: #e1ae4a;
}

.App {
  overflow: hidden;
  color: var(--black);
  background-color: #f3f3f3;
  padding: 1rem;
}

.blur {
  position: fixed;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #d363dd;
  filter: blur(72px);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: var(--buttonBg);
  transition: all 100ms ease-out;
}

.button:hover {
  cursor: pointer;
  color: var(--purple);
  background: transparent;
  border: 1px solid var(--purple);
}

.button:disabled {
  background: silver;
  pointer-events: none;
}

/* ::-webkit-scrollbar {
  display: none;
} */

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--buttonBg);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f5d8f2;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
