.Chat {
  position: relative;
  display: grid;
  grid-template-columns: 22% auto;
  gap: 1rem;
}

.Left-side-chat {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Chat-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--cardColor);
  border-radius: 1rem;
  padding: 1rem;
  height: auto;
  min-height: 20vh;
  max-height: 87vh;
  overflow: scroll;
}

.Chat-container::-webkit-scrollbar {
  display: none;
}

.Chat-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Right-side-chat {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.conversation:hover {
  background: #80808038;
  cursor: pointer;
}

.conversation {
  border-radius: 0.5rem;
  padding: 10px;
}

.conversation > div {
  position: relative;
}

.online-dot {
  background-color: rgb(47, 255, 75);
  border-radius: 50%;
  position: absolute;
  left: 2rem;
  width: 1rem;
  height: 1rem;
}

.chatbox-empty-message {
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 20px;
}
@media screen and (max-width: 992px) {
  .Chat-container {
    zoom: unset;
  }
  .Left-side-chat > div > .LogoSearch > .Search {
    display: none;
  }
  .Right-side-chat > div {
    width: unset !important;
    align-self: unset !important;
  }
}

@media screen and (max-width: 768px) {
  .Left-side-chat > div > .LogoSearch > .Search {
    display: none;
  }
  .Chat {
    grid-template-columns: 45px auto;
  }
  .follower.conversation > div > .name {
    display: none;
  }
  .Chat-container {
    padding: unset;
  }
  .Chat-container h2 {
    display: none;
  }
  img.followerImage {
    width: 34px !important;
    height: 34px !important;
    object-fit: cover;
  }
  .conversation {
    padding: 6px;
    border-radius: 50%;
    justify-content: center;
  }
  .Chat-list {
    padding-block: 2px;
  }
  .Chat-list hr {
    margin: unset;
  }
  .chat-sender > input {
    width: 70%;
  }
  .chat-sender > input::placeholder {
    font-size: 80%;
  }
  .Right-side-chat > div > .navIcon .notify-container {
    right: -129px;
  }
  .chatbox-empty-message {
    font-size: 16px;
    padding-inline: 1rem;
  }
}
