.mantine-Modal-modal {
  background-color: rgb(252, 252, 252);
  border-radius: 10px;
  height: 100%;
}

.mantine-Modal-body {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

/* .container {
  display: flex;
  gap: 2rem;
  height: 100%;
  width: 100vw;
} */

.left-side {
  display: flex;
  position: relative;
  width: 70%;
  height: 100%;
  margin-right: 3rem;
  justify-content: center;
}

.left-side > .set-zoom {
  position: absolute;
  top: 0px;
  right: 0px;
}

.left-side > .set-zoom > svg {
  cursor: pointer;
  color: purple;
  margin: 5px;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  border-radius: 5px;
  opacity: 0.3;
}

.left-side > .set-zoom > svg:hover {
  background: purple;
  color: #fff;
  opacity: 0.7;
}

.left-side > .grabbercontainer {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  max-height: 100vh;
  cursor: grab;
  justify-content: center;
  display: flex;
}

.left-side > .grabbercontainer > img {
  /* width: 100%; */
  object-fit: contain;

  border-radius: 10px;
  max-height: 100vh;
}

.right-side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
  height: 100%;
  padding: 5px;
}

.list-comments-modal {
  max-height: 23rem;
}

.post-comment {
  min-height: 30rem;
}

.postReact > .like > img {
  width: 26px;
  height: 26px;
  cursor: pointer;
  margin-right: 10px;
}

.postReact > .comment > img {
  width: 26px;
  height: 26px;
  cursor: pointer;
  margin-right: 10px;
}

.mantine-Modal-body::-webkit-scrollbar {
  width: 0px;
}

@media screen and (max-width: 992px) {
  .mantine-Modal-body {
    flex-direction: column;
    justify-content: flex-start;
  }
  .left-side {
    width: unset;
    margin-right: unset;
  }
  .right-side {
    display: grid;
    width: 100%;
  }
  .postReact {
    zoom: 80%;
  }
  .user-input-conment {
    margin-bottom: unset;
  }
  .mantine-Modal-modal {
    height: auto;
    width: 100%;
  }
  .post-comment {
    min-height: unset;
    height: auto;
  }
}
