.ProfileLeft-box {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  overflow: auto;
  width: 19rem;
}

.ProfileLeft {
  position: relative;
}

.profile-center {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
