.ProfileCard {
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.5rem;
  overflow-x: clip;
  background: var(--cardColor);
  max-height: 35rem;
  width: 98%;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
  margin: 3px;
  margin-top: 1rem;
}

.ProfileImage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.image-popup {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
}

.image-popup > .set-zoom {
  position: absolute;
  top: 0px;
  right: 0px;
}

.image-popup > .set-zoom > svg {
  cursor: pointer;
  color: purple;
  margin: 5px;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  border-radius: 5px;
  opacity: 0.3;
}

.image-popup > .set-zoom > svg:hover {
  background: purple;
  color: #fff;
  opacity: 0.7;
}

.grabbercontainer {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  max-height: 100vh;
  cursor: grab;
  justify-content: center;
  display: flex;
}

.grabbercontainer > img {
  object-fit: contain;
}

.ProfileImage > img:nth-of-type(1) {
  width: 100%;
  object-fit: cover;
  min-height: 8rem;
}

.ProfileImage > img:nth-of-type(2) {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: absolute;
  object-fit: cover;
  bottom: -3rem;
  box-shadow: var(--profileShadow);
}

.profileName {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  gap: 10px;
}

.profileName > span:nth-of-type(1) {
  font-weight: bold;
}

/* FollowStatus */

.followStatus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.followStatus > hr {
  width: 85%;
  border: 1px solid var(--hrColor);
}

.followStatus > div {
  display: flex;
  gap: 0.5rem;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}

.follow {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
}

.follow > span:nth-of-type(1) {
  font-weight: bold;
}

.follow > span:nth-of-type(2) {
  color: var(--gray);
  font-size: 13px;
}

.vl {
  height: 73px;
  border-left: 2px solid var(--hrColor);
}

.ProfileCard > span {
  font-weight: bold;
  color: rgb(223, 78, 228);
  align-self: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

.ProfileCard > .send-button-user {
  align-self: center;
  margin-bottom: 1rem;
  width: 25%;
  height: 3rem;
}

.action-user {
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 15px;
}
