.Profile {
  position: relative;
  display: grid;
  grid-template-columns: 18rem auto 20rem;
  gap: 1rem;
}

@media screen and (max-width: 992px) {
  .Profile {
    grid-template-columns: 1fr;
  }
  .FollowerCard {
    display: none;
  }

  .ProfileLeft-box {
    position: unset;
    width: unset;
  }

  .infoForm > div {
    display: flex;
    gap: 1rem;
    height: 2rem;
    width: 90%;
    flex-direction: column;
    height: auto;
  }
}
