.InfoCard {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: var(--cardColor);
  padding: 1rem;
  border-radius: 1rem;
  width: 90%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.infoHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoHead > svg:hover {
  cursor: pointer;
}

.logout-button {
  width: 7rem;
  height: 2rem;
  margin: 3px;
  align-self: flex-end;
}
