.LogoSearch {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
}

.LogoSearch > a > img {
  width: 50px;
  height: 45px;
}

.Search {
  display: flex;
  background-color: var(--inputColor);
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.Search > input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
}

.s-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(106.23deg, #f386e5, #bb11a4 100%);
  border-radius: 5px;
  padding: 5px;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.s-icon:hover {
  cursor: pointer;
  background: white;
  color: var(--purple);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
