.search-result {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-result > img {
  width: 30rem;
}

.search-result > span {
  margin-top: 1rem;
  color: var(--purple);
  font-size: larger;
}

.result {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: center;
  overflow: auto;
  max-height: 100vh;
}

.result::-webkit-scrollbar {
  display: none;
}

.result > img {
  width: 15%;
}

.result > b {
  text-align: center;
  color: var(--purple);
  font-size: larger;
  margin-bottom: 2rem;
}

@media screen and (max-width: 992px) {
  .search-result > img {
    width: 100%;
  }
  .result > img {
    display: none;
  }
  .container {
    flex-direction: column;
  }
}
